.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.container button {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
